[run]
source = src
branch = true
omit =
    tests/*
    **/__init__.py
    migrations/*
    alembic/*

[report]
show_missing = true
skip_covered = false
precision = 2
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.